# Ignore all by default
*

# Explicitly ignore
.env
node_modules/
.history/
.vscode/
frontend/node_modules/

# Unignore these
!package.json
!package-lock.json
!.gitignore

!backend/
!backend/**/*
!frontend/
!frontend/**/*
!frontend/public/
!frontend/public/**/*
!frontend/src/
!frontend/src/**/*
